.App {
  text-align: center;
}

.jumbotron{
  height: 100px;
  
}

.cont{
  width: 85%;
  margin: 0px auto;
}

img {
  height: 200px;
  width: 100%;
  margin-bottom: 0px

}

.logo{
  float: left;
  margin: 0;
  
}


.card{
  margin-bottom: 30px;
  
}

.cart-total{
  width: 200px;
  padding: 10px 20px;
  margin: 30px auto;
  

}

.trow{
  text-align: center;
  justify-content: center;
  padding: 10px 0px;
  }

.tableCont{
  width: 50%;
  margin: 35px auto;
}

.btn-wide{
  width: 50px;
}

td, th{
  height: 60px;
  width: 100px;
  text-align: right;
}

.navbar-brand{
  font-weight: 1200px;
  letter-spacing: 0.1em;
  border-radius: 5px;
  background-color: yellow;

}

.floatleft{
  
  float: left;
  padding: 0px;
  margin-top: 7px;
  justify-content: center;
 }

.floatright{
  
 float: right;
 padding: 0px;
 margin-top: 7px;
 justify-content: center;
}

